<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<body>
  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>

    <% for(var i=0; i<data.length; i++) {%>
      <tr>
        <td>
          <%= data[i].email%>
        </td>
        <td>
          <%= data[i].firstName%>
        </td>
        <td>
          <%= data[i].lastName%>
        </td>
        <td>
          <%= data[i].address%>
        </td>
        <td>
          <a href="/edit-crud?id=<%= data[i].id  %>" type="button">Edit</a>
          <button type="button">Delete</button>
        </td>
      </tr>
      <% } %>
  </table>
</body>

</html>